* {
	margin:0px;
	padding:0px;
	font-family:Microsoft YaHei;
	box-sizing: border-box;
	outline: 0;
}
a {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	border: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
fieldset, iframe, img {
	border: 0
}
i {
	font-style: inherit;
}
.clear {
	clear: both;
}
b, strong {
	font-weight: 700
}
















.ab_a{
	margin-top:50px;
}
.ab_b{
	position:relative;
}
.ab_kuang{
	position:absolute;
	left:-72px;
	right:-72px;
	z-index:-1;
	top:50%;
	transform:translate(0,-50%);
}
.ab_c{
	background:#c69559;
	padding:52px;
	position:relative;
	
}
.ab_c p{
	font-size:36px;
	line-height:36px;
	color:#fff;
	text-align:center;
}

.ab_d img{
	width:100%;
}
.ab_e{
	position:absolute;
	top:50%;
	left:0;
	transform:translate(0,-50%);
	text-align:center;
	width:100%;
}
.ab_xian{
	width:5.5%;
	height:1px;
	background:#fff;
	margin:0 auto;
	margin-top:14px;
}
.ab_e m2{
	width:35%;
	margin:0 auto;
	display:block;
	font-size:16px;
	line-height:32px;
	color:#ffffff;
	text-align:center;
	padding-top:26px;
}
.ab_f{
	margin-top:55px;
	margin-bottom:100px;
}
.ab_f ul li{
	margin-bottom:55px;
	position:relative;
}
.ab_f ul li:last-child{
	margin-bottom:0;
}
.ab_left img{
	width:100%;
}
.ab_left.ab_left1{
	float:right;
}
.ab_right{
	position:absolute;
	right:0;
	top:50%;
	transform:translate(0,-50%);
	background:#000000;
	padding:45px 50px;
}
.ab_right.ab_right1{
	left:0;
}
.ab_right p{
	font-size:36px;
	line-height:36px;
	color:#c69559;
}
.ab_iz{
	width:14%;
	height:1px;
	background:#c69559;
	margin-top:15px;
}
.ab_xz{
	font-size:16px;
	line-height:32px;
	color:#ffffff;
	padding-top:20px;
}










@media (max-width: 1500px){
.ab_kuang{
	left:0;
	right:0;
}












}













@media (max-width: 1200px){
.ab_f{
	margin-top:55px;
}
.ab_f ul li{
	margin-bottom:55px;
}
.ab_iz{
	width:16%;
	margin-top:14px;
}
.ab_right p{
	font-size:28px;
	line-height:28px;
}
.ab_xz {
    font-size: 14px;
    line-height: 24px;
    padding-top: 15px;
}
.ab_right{
	padding:22px 45px;
}










}









@media (max-width: 991px){
.ab_c{
	padding:20px;
}
.ab_c p{
	font-size:32px;
	line-height:32px;
}
.ab_xian{
	width:8%;
}
.ab_e m2{
	line-height:26px;
	padding-top:16px;
	width:70%;
}
.ab_f {
    margin-top: 70px;
}







}














@media (max-width: 767px){
.ab_c p {
    font-size: 20px;
    line-height: 20px;
}
.ab_xian {
    width: 10%;
	margin-top:2px;
}
.ab_e m2 {
    line-height: 16px;
    padding-top: 16px;
    width: 90%;
	font-size:12px;
	padding-top:8px;
}
.ab_c {
    padding: 8px;
}
.ab_right{
	position:static;
	transform:translate(0,0);
}
.ab_a {
    margin-top: 15px;
}
.ab_f {
    margin-top: 20px;
}
.ab_f ul li {
    margin-bottom: 24px;
}







}










@media (max-width: 320px){
.ab_c {
    padding: 5px;
}
.ab_e m2 {
    line-height: 16px;
    padding-top: 16px;
    width: 95%;
    font-size: 12px;
    padding-top: 2px;
}
.ab_c p {
    font-size: 16px;
    line-height: 16px;
}










}








